/* Landing Page CSS */
.BackGround {
  width: 98.5%;
  height: 750px;
  background-color: #4b547e;
  right: 0%;
  top: 0%;
  padding: 10px;
  border-radius: 20px;
  position: relative;
}

.Welcome_Text {
  font-size: 70px;
  font-weight: 600;
  color: #fff;
  padding: 20px;
  position: absolute;
  top: 25%;
  left: 20%;
}
.Get_Started_Button {
  font-size: 30px;
  font-weight: 600;
  color: #4b547e;
  text-align: center;
  padding: 10px 20px;
  border: 1px solid #fff;
  border-radius: 10px;
  background-color: ffff;
  position: absolute;
  top: 50%;
  left: 43%;
  transform: 1s ease;
}
.Get_Started_Button:hover {
  background-color: #4b547e;
  color: #ffff;
  border: 1px solid #ffff;
}
/* Login Page CSS */
.Container {
  background-color: #2e4374;
  width: 50%;
  height: 300px;
  padding: 10px;
  border-radius: 20px;
  margin-top: 10%;
  margin-left: auto;
  margin-right: auto;
}

.Header_Text {
  color: #ffffff;
  margin-top: 30px;
  text-align: center;
}

.textbox {
  width: 99%;
  height: 30px;
  border-radius: 10px;
  margin: 10px;
  margin-left: auto;
}

.textbox:[::placeholder] {
  padding: 5px;
}

.Login_Button {
  background-color: #ffffff;
  width: 100px;
  height: 30px;
  border-radius: 10px;
  margin-left: 45%;
  margin-top: 20px;
}

h6 {
  color: #2e4374;
  font-size: large;
  margin-left: 45%;
}

.SignUp_Button {
  background-color: #2e4374;
  width: 100px;
  height: 30px;
  border-radius: 10px;
  margin-left: 47%;
  color: #ffffff;
}

/* Signup CSS*/
.Intro_Button {
  width: 99%;
  height: 30px;
  border-radius: 10px;
  margin: 20px;
  margin-left: auto;
}

/* Star Component CSS  */

.star-rating {
  border: solid 1px #ccc;
  display: flex;
  flex-direction: row-reverse;
  font-size: 1.5em;
  justify-content: space-around;
  padding: 0 0.2em;
  text-align: center;
  width: 5em;
}

.star-rating input {
  display: none;
}

.star-rating label {
  color: #ccc;
  cursor: pointer;
}

.star-rating :checked ~ label {
  color: #f90;
}

.star-rating label:hover,
.star-rating label:hover ~ label {
  color: #fc0;
}

/* Rating CSS */
.Pie_Background {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%; /* Adjust the total width as needed */
  margin: 0 auto; /* Center the containers on the page */
  background-color: grey;
  padding: 20px;
  border-radius: 20px;
  margin: auto;
  width: 95%;
}

.pieContainer {
  position: relative;
  width: 250px; /* Increase the width by 100px */
  height: 250px; /* Increase the height by 100px */
}

.pieBackground {
  position: absolute;
  width: 250px; /* Adjusted width */
  height: 250px; /* Adjusted height */
  border-radius: 100%;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
}

.pie {
  transition: all 1s;
  position: absolute;
  width: 250px; /* Adjusted width */
  height: 250px; /* Adjusted height */
  border-radius: 100%;
  clip: rect(0px, 125px, 250px, 0px);
}

.hold {
  position: absolute;
  width: 250px; /* Adjusted width */
  height: 250px; /* Adjusted height */
  border-radius: 100%;
  clip: rect(0px, 250px, 250px, 125px);
}
#pieSlice1 .pie {
  background-color: #2e4374;
  transform: rotate(72deg);
}

#pieSlice2 {
  transform: rotate(144deg);
}

#pieSlice2 .pie {
  background-color: #4b547e;
  transform: rotate(72deg);
}

#pieSlice3 {
  transform: rotate(216deg);
}

#pieSlice3 .pie {
  background-color: #7c81ad;
  transform: rotate(72deg);
}

#pieSlice4 {
  transform: rotate(288deg);
}

#pieSlice4 .pie {
  background-color: #e5c3a6;
  transform: rotate(72deg);
}

#pieSlice5 {
  transform: rotate(360deg);
}

#pieSlice5 .pie {
  background-color: #a04;
  transform: rotate(72deg);
}

.innerCircle {
  position: absolute;
  width: 200px; /* Increase the width of the inner circle */
  height: 200px; /* Increase the height of the inner circle */
  background-color: #444;
  border-radius: 100%;
  top: 25px; /* Adjust the top position as needed */
  left: 25px; /* Adjust the left position as needed */
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5) inset;
  color: white;
}
.innerCircle .content {
  position: relative;
  display: block;
  width: 120px;
  top: 30%;
  left: 20%;
  text-align: center;
  font-size: 14px;
}

.Pie_InfoBar {
  display: flex;
  flex-direction: column;
  width: 70%;
}

.Star_Count {
  font-size: larger;
}

.border {
  border-radius: 10px;
  width: 80%;
  border: 2px solid black;
  height: 30px;
  object-fit: cover;
}

.fill {
  background-color: #e5c3a6;
  width: 70%;
  height: 100%;
  border-radius: 9px;
}

/* Professor Dashboard */

.Professor_Info {
  background-image: url(../public/img/Professor_img.jpg);
  width: 100%;
  background-position: center center;
  background-size: cover;
  height: 400px;
  position: relative;
  border-radius: 10px;
}

.image_footer {
  background-color: grey;
  width: 98.5%;
  height: 100px;
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: column; /* Align items to the top */
  padding: 10px;
  border-radius: 9px;
}

.Prof_Line {
  margin: 0;
  display: flex;
  justify-content: space-between;
}

.University_Line {
  display: flex;
  margin: 0;
}

.rating {
  display: flex;
  margin-top: 10px;
}

.star {
  font-size: 24px;
  color: gold;
  margin: 2px;
}

.star.half-filled::before {
  content: "\2605"; /* Unicode star character */
  position: absolute;
  width: 50%;
  overflow: hidden;
  color: transparent;
}

.star.filled {
  color: gold;
}

.Prof_name {
  margin: 0;
}
.Uni_name {
  margin-top: 20px;
}

.Dashboard {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

.Dashboard_Right {
  width: 90%;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content a:hover {
  background-color: #b5b4b4;
}

.text,
.dropdown {
  font-size: larger;
  text-decoration: none;
  color: #000;
}

.Rating_Name {
  text-align: center;
}

/* Header CSS */

.Header_Container {
  display: flex;
  justify-content: space-between;
  position: relative;
  align-items: center;
  width: 100%; /* Adjust the total width as needed */
  margin: 0 auto; /* Center the containers on the page */
  background-color: #7c81ad;
  padding: 20px;
  top: 0;
  left: 0;
  margin-bottom: 20px;
  width: 97.5%;
}

.Header_Logo img {
  width: 100px;
  height: 100px;
}

.dropdown_header {
  font-size: 30px;
  position: relative;
  display: inline-block;
  margin-right: 60px;
}

.dropdown_header img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.dropdown_header:hover .dropdown-content {
  display: block;
}

/* Student Dashboard Page CSS */
.Student_Dash_Container {
  display: flex;
  justify-content: space-between;
  position: absolute;
  left: 9%;
  width: 80%; /* Adjust the total width as needed */
  margin: 0 auto; /* Center the containers on the page */
  background-color: #7c81ad;
  padding: 20px;
  border-radius: 10px;
}
.Student_Dash_Left {
  display: flex;
  flex-direction: column;
  width: 30%;
}
.Rate_My_Prof {
  font-size: 30px;
  font-weight: 600;
  color: #4b547e;
  text-align: center;
  padding: 10px 20px;
  border: 1px solid #fff;
  border-radius: 10px;
  background-color: ffff;
  transform: 1s ease;
  width: 70%;
}

.Rate_My_Prof:hover {
  background-color: #4b547e;
  color: #ffff;
  border: 1px solid #ffff;
}

.Student_Dash_Right {
  width: 95%;
}

/* Rate CSS */
.Rate_Container {
  display: flex;
  align-items: center;
  width: 80%;
  background-color: #7c81ad;
  padding: 20px;
  border-radius: 10px;
  height: 70px;
  margin: auto;
}

.Rate_Left {
  background-color: #2e4374;
  color: #ffff;
  padding: 25px;
  font-size: 30px;
  border: #000 1px solid;
}

.Rate_Right {
  background-color: #2e4374;
  color: #ffff;
  height: 80px;
  padding: 2px;
  width: 100%;
}

.std_name,
.Comment {
  margin-left: 100px;
}

.std_name {
  font-size: medium;
  border: #000 1px solid;
  background-color: #000;
  width: fit-content;
  padding: 5px;
  border-radius: 10px;
  margin-top: 2px;
}
.Comment {
  padding: 10px;
  font-size: 30px;
}

.Dash_Manager {
  display: flex;
  flex-direction: column;
}

.Student_Dash_Main {
  position: relative;
  top: 370px;
  width: 100%;
  margin-top: 40px;
}

.Ratings_Count {
  font-size: 10px;
  font-weight: 600;
  color: #4b547e;
  padding: 10px 20px;
  background-color: ffff;
  transform: 1s ease;
  position: absolute;
  top: 67%;
  left: 10%;
  width: 70%;
}
