/* Login Page CSS */
.Login_Container {
  background-color: #2e4374;
  width: 50%;
  height: 300px;
  padding: 10px;
  border-radius: 20px;
  margin-top: 10%;
  margin-left: auto;
  margin-right: auto;
}

.Login_Text {
  color: #ffffff;
  margin-top: 30px;
  margin-left: 45%;
}

.textbox {
  width: 90%;
  height: 30px;
  border-radius: 10px;
  margin: 10px;
}

.textbox:[::placeholder] {
  padding: 5px;
}

.Login_Button {
  background-color: #ffffff;
  width: 100px;
  height: 30px;
  border-radius: 10px;
  margin-left: 45%;
  margin-top: 20px;
}

h6 {
  color: #2e4374;
  font-size: large;
  margin-left: 45%;
}

.SignUp_Button {
  background-color: #2e4374;
  width: 100px;
  height: 30px;
  border-radius: 10px;
  margin-left: 47%;
  color: #ffffff;
}
